@import './base.css';

#app {
  /* max-width: 1280px; */
  height: 100%;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  height: 100%;
}

a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
